* {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.nav--logo {
  width: 90px;
}

section {
  padding: 2rem;
}

.section--hero {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section--hero-img{
  width: 100%;
  max-width: 700px;
  align-self: center;
  margin-bottom: 2rem;
}

.section--title {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.section--sub-title {
  width: 20rem;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.gray {
  color: rgba(0, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

.card-list {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card p {
  margin: 0.3rem 0;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--img {
  width: 100%;
  margin-bottom: 0.8rem;
}

.card--star {
  height: 15px;
  margin-right: 5px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}