* {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

navbar {
  display: flex;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.nav--logo {
  width: 90px;
}

.section--hero {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section--hero-img{
  width: 100%;
  max-width: 700px;
  align-self: center;
  margin-bottom: 2rem;
}

.section--title {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

.section--sub-title {
  width: 20rem;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.gray {
  color: rgba(0, 0, 0, 0.5);
}

.bold {
  font-weight: bold;
}

.card p {
  margin: 0.3rem 0;
}

.card--star {
  height: 15px;
  margin-right: 5px;
}